In [1]:
%ls

data_provider/  kelly_allocation.py     utils/
goorm.manifest  quick_sheet_Data.ipynb

In [1]:
import pandas as pd
from data_provider.providers import Profiles
from data_provider.providers import Prices

## 프로파일 불러오기

```python
@dataclass
class Profile:
    ticker:Optional[str] = None
    name:Optional[str] = None
    sector:Optional[str] = None
    sub_industry:Optional[str] = None
    location:Optional[str] = None
    first_added:Optional[str] = None
    cik:Optional[str] = None
    founded:Optional[str] = None
    enterpriseValue:Union[int, float]=None
```

In [4]:
profiles = pd.DataFrame( list( Profiles.load_profiles('snp500')))
profiles.head()

In [3]:
profiles = pd.DataFrame( list( Profiles.load_profiles('kospi')))
profiles.head()

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,005930,삼성전자,None,None,None,None,None,None,None,naver
1,373220,LG에너지솔루션,None,None,None,None,None,None,None,naver
2,000660,SK하이닉스,None,None,None,None,None,None,None,naver
3,207940,삼성바이오로직스,None,None,None,None,None,None,None,naver
4,051910,LG화학,None,None,None,None,None,None,None,naver

In [3]:
profiles = pd.DataFrame( list( Profiles.load_profiles('nasdaq')))
profiles.head()

100%|██████████| 4598/4598 [00:14<00:00, 307.55it/s]

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,AAPL,Apple Inc,None,None,None,None,None,None,None,yahoo
1,MSFT,Microsoft Corp,None,None,None,None,None,None,None,yahoo
2,AMZN,Amazon.com Inc,None,None,None,None,None,None,None,yahoo
3,GOOGL,Alphabet Inc Class A,None,None,None,None,None,None,None,yahoo
4,TSLA,Tesla Inc,None,None,None,None,None,None,None,yahoo

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_us')))
profiles.head()

/workspace/mlfi_v/data_provider/providers/profiles.py:85: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 85 of the file /workspace/mlfi_v/data_provider/providers/profiles.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  pages_etf = BeautifulSoup(page).select_one('#etf_issuer > select')
  0%|          | 0/241 [00:00<?, ?it/s]/workspace/mlfi_v/data_provider/providers/profiles.py:91: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 91 of the file /workspace/mlfi_v/data_provider/providers/profiles.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(page)
  2%|▏         | 5/241 [00:39<33:12,  8.44s/it]

In [8]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_kr')))
profiles.head()

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,005930,삼성전자,None,None,None,None,None,None,375499322395000,naver
1,373220,LG에너지솔루션,None,None,None,None,None,None,146016000000000,naver
2,000660,SK하이닉스,None,None,None,None,None,None,68068221127500,naver
3,207940,삼성바이오로직스,None,None,None,None,None,None,64056600000000,naver
4,051910,LG화학,None,None,None,None,None,None,52026556791000,naver

## 데이터 불러오기

In [2]:
from data_provider import Data

In [ ]:
snp500 = Data("snp500")

In [ ]:
nasdaq = Data("nasdaq")

In [ ]:
kospi = Data("kospi")

In [ ]:
etf_us = Data("etf_us")

In [ ]:
etf_kr = Data("etf_kr")

In [ ]:
snp500.get_data()

In [ ]:
snp500.vol

In [ ]:
snp500.get_data().data_engineered.unstack('ticker')