In [1]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 6ECB-CDD3

 C:\Users\taest\Documents\GitHub\mlfi 디렉터리

2022-11-13  오후 08:23    <DIR>          .
2022-11-13  오후 08:23    <DIR>          ..
2022-11-13  오후 08:15                52 .gitignore
2022-11-13  오후 07:53    <DIR>          .ipynb_checkpoints
2022-11-13  오후 07:58    <DIR>          data_provider
2022-11-13  오후 07:47             1,400 kelly_allocation.py
2022-11-13  오후 08:23             2,487 Untitled.ipynb
2022-11-13  오후 07:47    <DIR>          utils
               3개 파일               3,939 바이트
               5개 디렉터리  180,723,605,504 바이트 남음

In [7]:

import pandas as pd

## 프로파일 불러오기

```python
@dataclass
class Profile:
    ticker:Optional[str] = None
    name:Optional[str] = None
    sector:Optional[str] = None
    sub_industry:Optional[str] = None
    location:Optional[str] = None
    first_added:Optional[str] = None
    cik:Optional[str] = None
    founded:Optional[str] = None
    enterpriseValue:Union[int, float]=None
```

In [ ]:
from data_provider.providers import Profiles

In [12]:
profiles = pd.DataFrame( list( Profiles.load_profiles('snp500')))
profiles.head()

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,67675348992
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,7918445568
2,ABT,Abbott,Healthcare,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,179308969984

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('kospi')))
profiles.head()

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('nasdaq')))
profiles.head()

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_us')))
profiles.head()

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_kr')))
profiles.head()

## 데이터 불러오기

In [ ]:
from data_provider import Data

In [ ]:
snp500 = Data("snp500")

In [ ]:
nasdaq = Data("nasdaq")

In [ ]:
kospi = Data("kospi")

In [ ]:
etf_us = Data("etf_us")

In [ ]:
etf_kr = Data("etf_kr")

In [ ]:
snp500.get_data()

In [ ]:
snp500.vol

In [ ]:
snp500.get_data().data_engineered.unstack('ticker')