In [1]:
%ls

data_provider/  kelly_allocation.py     snp500_b.pickle
etf_us.pickle   nohup.out               test_load_data.py
goorm.manifest  quick_sheet_Data.ipynb  utils/

In [2]:
import pandas as pd
from data_provider.providers import Profiles
from data_provider.providers import Prices

## 프로파일 불러오기

```python
@dataclass
class Profile:
    ticker:Optional[str] = None
    name:Optional[str] = None
    sector:Optional[str] = None
    sub_industry:Optional[str] = None
    location:Optional[str] = None
    first_added:Optional[str] = None
    cik:Optional[str] = None
    founded:Optional[str] = None
    enterpriseValue:Union[int, float]=None
```

In [4]:
profiles = pd.DataFrame( list( Profiles.load_profiles('snp500')))
profiles.head()

In [3]:
profiles = pd.DataFrame( list( Profiles.load_profiles('kospi')))
profiles.head()

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,005930,삼성전자,None,None,None,None,None,None,None,naver
1,373220,LG에너지솔루션,None,None,None,None,None,None,None,naver
2,000660,SK하이닉스,None,None,None,None,None,None,None,naver
3,207940,삼성바이오로직스,None,None,None,None,None,None,None,naver
4,051910,LG화학,None,None,None,None,None,None,None,naver

In [3]:
profiles = pd.DataFrame( list( Profiles.load_profiles('nasdaq')))
profiles.head()

100%|██████████| 4598/4598 [00:14<00:00, 307.55it/s]

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,AAPL,Apple Inc,None,None,None,None,None,None,None,yahoo
1,MSFT,Microsoft Corp,None,None,None,None,None,None,None,yahoo
2,AMZN,Amazon.com Inc,None,None,None,None,None,None,None,yahoo
3,GOOGL,Alphabet Inc Class A,None,None,None,None,None,None,None,yahoo
4,TSLA,Tesla Inc,None,None,None,None,None,None,None,yahoo

In [ ]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_us')))
profiles.head()

 45%|████▌     | 109/241 [11:26<13:36,  6.18s/it]

In [8]:
profiles = pd.DataFrame( list( Profiles.load_profiles('etf_kr')))
profiles.head()

,ticker,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
0,005930,삼성전자,None,None,None,None,None,None,375499322395000,naver
1,373220,LG에너지솔루션,None,None,None,None,None,None,146016000000000,naver
2,000660,SK하이닉스,None,None,None,None,None,None,68068221127500,naver
3,207940,삼성바이오로직스,None,None,None,None,None,None,64056600000000,naver
4,051910,LG화학,None,None,None,None,None,None,52026556791000,naver

## 데이터 불러오기

In [2]:
from data_provider import Data

In [ ]:
snp500 = Data("snp500")

In [ ]:
nasdaq = Data("nasdaq")

In [ ]:
kospi = Data("kospi")

In [ ]:
etf_us = Data("etf_us")

In [ ]:
etf_kr = Data("etf_kr")

In [ ]:
snp500.get_data()

In [ ]:
snp500.vol

In [ ]:
snp500.get_data().data_engineered.unstack('ticker')

In [5]:
from typing import Optional, Dict
from dataclasses  import dataclass
import pandas as pd
import datetime as dt
from data_provider.providers import Profiles, Prices, FamaFrench, DataEngineer
from data_provider.functions_for_data import FunctionPath

In [15]:
 snp500=FunctionPath.Pickle.load_from_pickle('snp500_b')

In [18]:
snp500.profiles

,name,sector,sub_industry,location,first_added,cik,founded,enterpriseValue,data_src
ticker,,,,,,,,,
MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902,8.662175e+10,yahoo
AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916,9.070131e+09,yahoo
ABT,Abbott,Healthcare,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888,1.883706e+11,yahoo
ABBV,AbbVie,Healthcare,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888),3.237060e+11,yahoo
ABMD,Abiomed,Healthcare,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981,1.604824e+10,yahoo
...,...,...,...,...,...,...,...,...,...
YUM,Yum! Brands,Consumer Cyclical,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997,4.390658e+10,yahoo
ZBRA,Zebra Technologies,Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969,1.652069e+10,yahoo
ZBH,Zimmer Biomet,Healthcare,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927,2.913917e+10,yahoo
ZION,Zions Bancorporation,Financial Services,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873,9.067394e+09,yahoo
ZTS,Zoetis,Healthcare,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952,7.500757e+10,yahoo

In [2]:
from typing import Optional, Dict
from dataclasses  import dataclass
import pandas as pd
import datetime as dt
from data_provider.providers import Profiles, Prices, FamaFrench, DataEngineer
from data_provider.functions_for_data import FunctionPath

 
@dataclass
class Context:
        market:Optional[str]=None
        prices:pd.DataFrame = None
        volumes: pd.DataFrame = None
        profiles:pd.DataFrame = None
        factors:pd.DataFrame = None
        data_engineered :Dict[str,pd.DataFrame] = None
        updated_date:pd.Timestamp = None

In [5]:
context = Context()

In [6]:
 etf_us=FunctionPath.Pickle.load_from_pickle('etf_us')

In [7]:
 context.profiles = etf_us.profiles.iloc[:100,:]

In [8]:
# 가격 데이터 저장
tickers = context.profiles.reset_index().loc[:,'ticker'] #정보 객체에서 ticket만 추출하여 반환
data_src = context.profiles.reset_index().loc[:,'data_src'] 

gen_prices = Prices.load_from_web(tickers, data_src= data_src,  start='2000-1-1', end='2022-12-31')  #가격 반환을 위한 제너레이터
prices_volumes = pd.concat([price for price in gen_prices]).loc[:,['Adj Close', 'Volume']].unstack('ticker')
context.prices = prices_volumes.loc[:,'Adj Close']  # 가격 
context.volumes = prices_volumes.loc[:,'Volume']  #거래량

100it [02:14,  1.35s/it]

In [10]:
context.prices

ticker,AGG,ARKK,ASHR,BIL,BKLN,BOIL,DIA,DRIP,DUST,EEM,...,XLI,XLK,XLP,XLRE,XLU,XLV,XLY,XOP,XRT,YANG
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,68.721703,NaN,NaN,NaN,...,19.070101,42.330505,13.329816,NaN,12.275567,21.660637,22.987204,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,66.460625,NaN,NaN,NaN,...,18.543242,40.182953,12.954454,NaN,11.905270,21.169109,22.295681,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,67.321495,NaN,NaN,NaN,...,18.460596,39.586407,13.183337,NaN,12.205698,20.979208,22.021456,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,67.662140,NaN,NaN,NaN,...,18.708525,38.274025,13.430519,NaN,12.184742,21.046230,22.271830,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,69.932632,NaN,NaN,NaN,...,19.421337,38.942158,14.281946,NaN,12.289535,21.303171,23.321045,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-10,96.580002,37.299999,26.920000,91.529999,21.030001,39.369999,337.260010,11.67,16.190001,37.150002,...,99.589996,130.899994,73.599998,38.759998,68.849998,134.779999,141.690002,154.289993,64.059998,22.520000
2022-11-11,96.510002,40.400002,27.420000,91.519997,21.040001,36.779999,337.790009,10.95,16.059999,38.160000,...,99.529999,133.139999,73.519997,38.740002,68.080002,133.130005,145.089996,159.139999,65.559998,19.500000
2022-11-14,96.239998,38.910000,27.410000,91.519997,20.790001,37.889999,335.769989,11.28,16.240000,37.930000,...,98.919998,132.000000,72.940002,37.709999,67.269997,133.250000,142.789993,156.820007,64.760002,19.100000
2022-11-15,96.949997,39.970001,28.129999,91.540001,20.959999,38.650002,336.209991,10.75,16.600000,38.799999,...,99.599998,133.600006,73.550003,38.180000,68.010002,133.080002,144.740005,160.619995,66.430000,16.190001
2022-11-16,97.550003,37.910000,27.450001,91.550003,20.959999,40.119999,336.070007,11.38,16.969999,38.180000,...,98.879997,131.770004,73.910004,37.910000,68.620003,133.020004,142.529999,155.979996,63.959999,17.160000