In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# %cd /content/drive/MyDrive/github/mlfi
# %ls

In [ ]:
# !pip install finance-datareader
# !pip install yfinance
# !pip install -U  pandas-datareader

In [ ]:
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib

---

In [2]:
from data_provider import BasicData, CustomizingData
from data_provider.functions_for_data.functions_path import FunctionPath
import pandas as pd
    
    
    
# from data_provider import Data
# # snp500 = BasicData("snp500")
# # nasdaq = BasicData("nasdaq")
# # kospi = BasicData("kospi")
etf_us = BasicData(label="etf_us")
# etf_kr = BasicData("etf_kr")

print('finish')
FunctionPath.HDFS.save_to_HDFS(pd.DataFrame(['dummy']), 'df_dummy','df_dummy')

snp500 load fail

0it [00:00, ?it/s]

snp500 saved
saved

3it [00:04,  1.58s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

snp500 saved
saved

100%|██████████| 1/1 [00:00<00:00,  1.42it/s]

snp500 saved
saved
                     Mkt-RF       SMB       HML       RMW       CMA
ticker Date
ABT    2020-01-05       NaN       NaN       NaN       NaN       NaN
       2020-01-12       NaN       NaN       NaN       NaN       NaN
       2020-01-19       NaN       NaN       NaN       NaN       NaN
       2020-01-26       NaN       NaN       NaN       NaN       NaN
       2020-02-02       NaN       NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...       ...
MMM    2022-08-07       NaN       NaN       NaN       NaN       NaN
       2022-08-14       NaN       NaN       NaN       NaN       NaN
       2022-08-21       NaN       NaN       NaN       NaN       NaN
       2022-08-28  0.063709 -0.077646  0.078015  0.060294  0.139130
       2022-09-04  0.089878 -0.001522  0.041947  0.134185  0.231131

[420 rows x 5 columns]
                     Mkt-RF       SMB       HML       RMW       CMA
ticker Date
ABT    2020-01-31       NaN       NaN       NaN       NaN       NaN
       2020-02-29       NaN       NaN       NaN       NaN       NaN
       2020-03-31       NaN       NaN       NaN       NaN       NaN
       2020-04-30       NaN       NaN       NaN       NaN       NaN
       2020-05-31       NaN       NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...       ...
MMM    2022-05-31  0.780910  0.494822  0.154439  0.856088  0.109554
       2022-06-30  0.896219  0.417045  0.208514  0.780331  0.237277
       2022-07-31  0.992147  0.274702  0.240350  0.678121  0.088667
       2022-08-31  0.994621  0.311210  0.268716  0.747591  0.070746
       2022-09-30  1.011885  0.328734  0.300385  0.785312  0.100172

[99 rows x 5 columns]
snp500 saved
saved
finish
<class 'pandas.io.pytables.HDFStore'>
File path: /workspace/mlfi_v/df_dummy.h5.h5
/df_dummy            frame        (shape->[1,1])

In [5]:
snp500.data_engineered

{'w':                    return_1w  return_2w  return_3w  return_6w  return_9w  \
 ticker Date
 ABT    2000-04-02   0.046468   0.024877   0.043841   0.012682   0.011046
        2000-04-09   0.040853   0.043657   0.030175   0.022422   0.006866
        2000-04-16   0.010162   0.025392   0.032370   0.022163   0.009431
        2000-04-23   0.066215   0.037810   0.038823   0.036636   0.021322
        2000-04-30  -0.020701   0.021833   0.017928   0.024033   0.020921
 ...                      ...        ...        ...        ...        ...
 MMM    2022-10-23   0.027986   0.042306   0.018683  -0.008703  -0.023884
        2022-10-30   0.083811   0.055529   0.055031   0.013794  -0.002205
        2022-11-06  -0.013902   0.033801   0.031859   0.016761   0.002880
        2022-11-13   0.065203   0.024888   0.044164   0.031345   0.008615
        2022-11-20  -0.035612   0.013543   0.004311   0.029812   0.010623

                    return_12w    Mkt-RF       SMB       HML       RMW  ...  \
 ticker Date                                                            ...
 ABT    2000-04-02   -0.000328  0.121722  0.133342  0.246503  0.093217  ...
        2000-04-09    0.004993  0.121722  0.133342  0.246503  0.093217  ...
        2000-04-16    0.014337  0.121722  0.133342  0.246503  0.093217  ...
        2000-04-23    0.017920  0.121722  0.133342  0.246503  0.093217  ...
        2000-04-30    0.009620  0.121722  0.133342  0.246503  0.093217  ...
 ...                       ...       ...       ...       ...       ...  ...
 MMM    2022-10-23   -0.016017  0.063709 -0.077646  0.078015  0.060294  ...
        2022-10-30   -0.011762  0.063709 -0.077646  0.078015  0.060294  ...
        2022-11-06   -0.015562  0.063709 -0.077646  0.078015  0.060294  ...
        2022-11-13   -0.007299  0.063709 -0.077646  0.078015  0.060294  ...
        2022-11-20   -0.000580  0.063709 -0.077646  0.078015  0.060294  ...

                    month_8  month_9  month_10  month_11  month_12  msize_1  \
 ticker Date
 ABT    2000-04-02        0        0         0         0         0        0
        2000-04-09        0        0         0         0         0        0
        2000-04-16        0        0         0         0         0        0
        2000-04-23        0        0         0         0         0        0
        2000-04-30        0        0         0         0         0        0
 ...                    ...      ...       ...       ...       ...      ...
 MMM    2022-10-23        0        0         1         0         0        0
        2022-10-30        0        0         1         0         0        0
        2022-11-06        0        0         0         1         0        0
        2022-11-13        0        0         0         1         0        0
        2022-11-20        0        0         0         1         0        0

                    msize_5  msize_10  Healthcare  Industrials
 ticker Date
 ABT    2000-04-02        0         1           1            0
        2000-04-09        0         1           1            0
        2000-04-16        0         1           1            0
        2000-04-23        0         1           1            0
        2000-04-30        0         1           1            0
 ...                    ...       ...         ...          ...
 MMM    2022-10-23        1         0           0            1
        2022-10-30        1         0           0            1
        2022-11-06        1         0           0            1
        2022-11-13        1         0           0            1
        2022-11-20        1         0           0            1

 [3546 rows x 68 columns],
 'm':                    return_1m  return_2m  return_3m  return_6m  return_9m  \
 ticker Date
 ABT    2001-01-31  -0.069795  -0.095409  -0.051565   0.014455   0.018751
        2001-02-28   0.092064   0.007891  -0.036798   0.020376   0.022287
        2001-03-31  -0.036742   0.025641  -0.007212   0.000066   0.007805
        2001-04-30  -0.012883  -0.024886   0.012635  -0.019990   0.013848
        2001-05-31   0.120741   0.051809   0.021423  -0.008115   0.020725
 ...                      ...        ...        ...        ...        ...
 MMM    2022-07-31   0.106870  -0.020472   0.001080  -0.021093  -0.021248
        2022-08-31  -0.122968  -0.014728  -0.055903  -0.026027  -0.030960
        2022-09-30  -0.111379  -0.117192  -0.048060  -0.045254  -0.038018
        2022-10-31   0.138371   0.005773  -0.039114  -0.019223  -0.027137
        2022-11-30   0.019511   0.077303   0.010332  -0.023347  -0.014055

                    return_12m    Mkt-RF       SMB       HML       RMW  ...  \
 ticker Date                                                            ...
 ABT    2001-01-31    0.028574  0.792181  0.011294 -0.489357  0.227779  ...
        2001-02-28    0.034998  0.792181  0.011294 -0.489357  0.227779  ...
        2001-03-31    0.026271  0.792181  0.011294 -0.489357  0.227779  ...
        2001-04-30    0.017219  0.792181  0.011294 -0.489357  0.227779  ...
        2001-05-31    0.022071  0.792181  0.011294 -0.489357  0.227779  ...
 ...                       ...       ...       ...       ...       ...  ...
 MMM    2022-07-31   -0.023719  0.896219  0.417045  0.208514  0.780331  ...
        2022-08-31   -0.031624  0.992147  0.274702  0.240350  0.678121  ...
        2022-09-30   -0.031624  0.994621  0.311210  0.268716  0.747591  ...
        2022-10-31   -0.025745  0.765362  0.481632  0.058423  0.822494  ...
        2022-11-30   -0.020798  0.765362  0.481632  0.058423  0.822494  ...

                    month_8  month_9  month_10  month_11  month_12  msize_1  \
 ticker Date
 ABT    2001-01-31        0        0         0         0         0        0
        2001-02-28        0        0         0         0         0        0
        2001-03-31        0        0         0         0         0        0
        2001-04-30        0        0         0         0         0        0
        2001-05-31        0        0         0         0         0        0
 ...                    ...      ...       ...       ...       ...      ...
 MMM    2022-07-31        0        0         0         0         0        0
        2022-08-31        1        0         0         0         0        0
        2022-09-30        0        1         0         0         0        0
        2022-10-31        0        0         1         0         0        0
        2022-11-30        0        0         0         1         0        0

                    msize_5  msize_10  Healthcare  Industrials
 ticker Date
 ABT    2001-01-31        0         1           1            0
        2001-02-28        0         1           1            0
        2001-03-31        0         1           1            0
        2001-04-30        0         1           1            0
        2001-05-31        0         1           1            0
 ...                    ...       ...         ...          ...
 MMM    2022-07-31        1         0           0            1
        2022-08-31        1         0           0            1
        2022-09-30        1         0           0            1
        2022-10-31        1         0           0            1
        2022-11-30        1         0           0            1

 [789 rows x 67 columns]}

In [17]:
nasdaq.data_engineered.get('w')

                   return_1w  return_2w  return_3w  return_6w  return_9w  \
ticker Date
AAME   2000-04-02  -0.022727  -0.016998  -0.022230   0.000000  -0.002551
       2000-04-09   0.000000  -0.011429  -0.011365   0.001951   0.005306
       2000-04-16   0.000000   0.000000  -0.007634   0.010033  -0.002551
       2000-04-23  -0.023256  -0.011696  -0.007813  -0.015048  -0.002611
       2000-04-30   0.023810   0.000000   0.000000  -0.005699   0.001300
...                      ...        ...        ...        ...        ...
ZION   2022-10-23  -0.046270  -0.025641  -0.020335  -0.033507  -0.020501
       2022-10-30   0.077792   0.013865   0.007684  -0.018641  -0.010040
       2022-11-06  -0.034536   0.020083  -0.002533  -0.015111  -0.011143
       2022-11-13   0.113143   0.036677   0.050205   0.014322  -0.006372
       2022-11-20  -0.085033   0.009202  -0.005593   0.001023  -0.014311

                   return_12w    Mkt-RF       SMB       HML       RMW  ...  \
ticker Date                                                            ...
AAME   2000-04-02    0.010354 -0.650054  0.746221  0.083338  0.566239  ...
       2000-04-09    0.008170 -0.650054  0.746221  0.083338  0.566239  ...
       2000-04-16    0.006045 -0.650054  0.746221  0.083338  0.566239  ...
       2000-04-23   -0.003869 -0.650054  0.746221  0.083338  0.566239  ...
       2000-04-30    0.003977 -0.650054  0.746221  0.083338  0.566239  ...
...                       ...       ...       ...       ...       ...  ...
ZION   2022-10-23   -0.010913 -0.013688  0.436016  0.323825 -0.079147  ...
       2022-10-30   -0.003878 -0.013688  0.436016  0.323825 -0.079147  ...
       2022-11-06   -0.013000 -0.013688  0.436016  0.323825 -0.079147  ...
       2022-11-13   -0.003284 -0.013688  0.436016  0.323825 -0.079147  ...
       2022-11-20   -0.008930 -0.013688  0.436016  0.323825 -0.079147  ...

                   month_5  month_6  month_7  month_8  month_9  month_10  \
ticker Date
AAME   2000-04-02        0        0        0        0        0         0
       2000-04-09        0        0        0        0        0         0
       2000-04-16        0        0        0        0        0         0
       2000-04-23        0        0        0        0        0         0
       2000-04-30        0        0        0        0        0         0
...                    ...      ...      ...      ...      ...       ...
ZION   2022-10-23        0        0        0        0        0         1
       2022-10-30        0        0        0        0        0         1
       2022-11-06        0        0        0        0        0         0
       2022-11-13        0        0        0        0        0         0
       2022-11-20        0        0        0        0        0         0

                   month_11  month_12  msize_-1  Unknown
ticker Date
AAME   2000-04-02         0         0         1        1
       2000-04-09         0         0         1        1
       2000-04-16         0         0         1        1
       2000-04-23         0         0         1        1
       2000-04-30         0         0         1        1
...                     ...       ...       ...      ...
ZION   2022-10-23         0         0         1        1
       2022-10-30         0         0         1        1
       2022-11-06         1         0         1        1
       2022-11-13         1         0         1        1
       2022-11-20         1         0         1        1

[1148113 rows x 65 columns]

In [16]:
        market:Optional[str]=None
        prices:pd.DataFrame = None
        volumes: pd.DataFrame = None
        profiles:pd.DataFrame = None
        factors:pd.DataFrame = None
        data_engineered :Dict[str,pd.DataFrame] = None
        updated_date:pd.Timestamp = None

NameError: name 'Optional' is not defined

In [21]:
import pandas as pd
df = pd.DataFrame([1,2,3,4,5])

In [25]:
df.shape[0]

5